.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 0 20px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  flex: 2;
}

.footer {
  display: flex;
  flex: 0;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer p {
  text-align: center;
}

.mandlTitle {
  letter-spacing: 10px;
  font-size: 60px;
  margin-bottom: -30px;
  padding-bottom: 0;
}

.pitchTitle {
  font-family: 'Dancing Script', cursive;
  font-size: 150px;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0px;
  color: #d35b61;
  position: absolute;
  top: 0;
}

.pitchRocketContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 500px;
}

.rocketContainer {
  position: absolute !important;
  top: 60px !important;
}

.description {
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
}