.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 0 20px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  flex: 2;
}

.footer {
  display: flex;
  flex: 0;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer p {
  text-align: center;
}

.mandlTitle {
  letter-spacing: 15px;
  font-size: 60px;
  margin-bottom: -30px;
  padding-bottom: 0;
}

.pitchTitle {
  font-family: 'Dancing Script', cursive;
  font-size: 150px;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0px;
  color: #d35b61;
  position: absolute;
  top: 0;
}

.pitchRocketContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 100vw;
  max-width: 500px;
}

.rocketHoverContainer {
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rocketHoverTarget {
  width: 200px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0);
  z-index: 100;
}

.rocketContainer {
  position: absolute !important;
  top: 60px !important;
  transform: scale(1);
  transition-duration: 1000ms;
}

.rocketHoverContainer:hover~.rocketContainer {
  transform: scale(1.1) translateY(-50px);

}

.descriptionContainer {
  display: flex;
  flex: 1;
  align-items: center;
}

.description {
  text-align: center;
  font-size: 20px;
}

.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fc;
}

.video {
  height: 300px;
  width: 70vw;
  max-width: 300px;
}